* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    color: white;
    scroll-behavior: smooth;    
}

.container {
   width: 100vw; 
}

.background-img {
    position: relative;
    background-color: black;
    width: 100%;
    overflow: hidden;
    opacity: 0.9;
}

.background-img::after {
    content: "";
    background-image: url("./assets/304852-software-de-codigo-aberto-e-de-codigo-fechado-entenda-as-aplicacoes-de-cada-1-e1569846960327.png");
    opacity: 0.40;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

nav {
    display: flex;
    width: 100vw;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 50px;
    position: fixed;
    box-shadow: 5px 5px 15px 5px #000000;
}

.portfolio-name {
    color: orangered;
    font-weight: 800;
    font-size: 45px;
    line-height: 59px;
    text-decoration: none;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    list-style: none;
    margin-right: 90px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    
}

.menu-list :hover {
    opacity: 0.6;
}

.menu-list :active {
    color: orangered;
    opacity: 1;
}

.home {
    background: transparent;
    width: 450px;
    margin: auto;
    color: white;
    text-align: center;
    line-height: 39px;
    padding-top: 320px;
}

#foto-perfil {
    width: 450px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px 5px #812c2ca1;
}

h1 {
    color: white;
    width: 465px;
    font-size: 40px;
    margin: auto auto;
    text-align: center;
    line-height: 60px;
    padding-top: 35px;
}

h2 {
    color: white;
    width: 465px;
    font-size: 25px;
    margin: auto auto;
    text-align: center;
    line-height: 40px;
}

.paragraph-local {
    width: 465px;
    font-size: 21px;
    margin: auto;
    text-align: center;
    line-height: 45px;
}

.sobre, .projetos, .rede-social {
    width: 100vw;
}

h3 {
    color: white;
    font-size: 40px;
    margin: 220px auto 0;
    text-align: center;
}

.paragraph-1 {
    width: 900px;
    font-size: 25px;
    margin: 40px auto 0;
    text-align: center;
    line-height: 45px;
}

h4 {
    color: white;
    font-size: 40px;
    margin: 220px auto 0;
    text-align: center;
}

.ul-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.list-projects {
    width: 23%;
    height: 450px;
    padding: 5px;
    margin-top: 70px;
    list-style-type: none;
    display: inline-block;
}

.link-projects {
    background-color: transparent;
    cursor: pointer;
    display: block;
    margin: auto auto;
    border: none;
    transition: transform 0.3s ease;
}

.link-projects :hover {
    opacity: 0.6;
    transform: translateY(-10px);
}

.link-projects :active {
    opacity: 0.3;
}

.paragraph-link {
    font-size: 20px;
    text-align: center;
}

.paragraph-link span {
    color: orangered;
}

.paragraph-link-resume {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    padding: 4px;
}

.folder-img {
    width: 120px;
    display: block;
    margin: auto auto;
}

footer {
    background-color: #000000;
    width: 100vw;
    height: auto;
    padding-top: -16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h6 {
    color: white;
    font-size: 40px;
    margin: 25px auto 0;
    text-align: center;
}

#linkedin-img,
#wpp-img {
    width: 70px;
    display: inline-block;
    border-radius: 50%;
}

#github-img {
    width: 78px;
    display: inline-block;

}

.rede-social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 55px;
    gap: 50px;
}

@media screen and (max-width: 1000px) and (min-width: 800px) {

    nav {
        padding-left: 20px;
    }


    .portfolio-name {
        font-size: 32px;
        line-height: 45px;
    }

    .menu-list {
        gap: 45px;
        font-size: 26px;
    }

    #foto-perfil {
        width: 400px;
    }

    h1 {

        width: 400px;
        font-size: 26px;
        line-height: 40px;
        padding-top: 35px;
    }

    h2 {
        width: 450px;
        font-size: 22px;
        line-height: 40px;
    }

    .paragraph-local {
        width: 450px;
        font-size: 22px;
        line-height: 40px;
    }

    h3 {
        font-size: 26px;
        margin: 180px auto 0;
    }

    .paragraph-1 {
        width: 700px;
        font-size: 22px;
        margin: 40px auto 0;
        line-height: 35px;
    }

    h4 {
        font-size: 26px;
        margin: 180px auto 0;
    }

    .paragraph-link {
        text-align: center;
        line-height: 25px;
        padding: 0;
    }

    .paragraph-link span {
        color: orangered;
        font-size: 16px;
        text-align: justify;
    }

    .folder-img {
        width: 100px;
        display: block;
        margin: auto auto;
    }

    footer {
        background-color: #000000;
        width: 100vw;
        height: auto;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    h6 {

        font-size: 26px;
        margin: 35px auto 0;

    }

    #linkedin-img,
    #wpp-img {
        width: 50px;
    }

    #github-img {
        width: 52px;
    }

    .rede-social {
        padding: 35px;
    }
}

@media screen and (max-width: 700px) and (min-width: 350px) {

    nav {
        position: fixed;
        height: 70px;
        margin: 0;
        padding: 0;
        box-shadow: inset 3px 2px -3px 5px #000000;
    }

    .portfolio-name {
        margin-top: -20px;
        margin-left: 10px;
        font-size: 20px;
        line-height: 20px;
    }

    .menu-list {
        gap: 12px;
        list-style: none;
        margin: 25px auto 0;
        font-size: 14px;
    }

    .home {
        padding-top: 200px;
        width: 100%;
    }

    #foto-perfil {
        width: 270px;
    }

    h1 {

        width: 330px;
        font-size: 24px;
        line-height: 30px;
        padding-top: 30px;
    }

    h2 {
        width: 330px;
        font-size: 20px;
        line-height: 30px;
    }

    .paragraph-local {
        width: 330px;
        font-size: 19px;
        line-height: 30px;
    }

    h3 {
        font-size: 22px;
        margin: 200px auto 0;
    }

    .paragraph-1 {
        width: 330px;
        font-size: 18px;
        margin: 40px auto 0;
        line-height: 35px;
    }

    h4 {
        font-size: 22px;
        margin: 180px auto 0;
    }

    .ul-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        gap: 30px;
    }

    .list-projects {
        width: 100vw;
        height: 70px;
        margin-top: 60px;
        box-shadow: none;
    }

    .paragraph-link {
        color: orangered;
        font-size: 14px;
        text-align: center;
    }

    .paragraph-link-resume {
        display: none;
    }

    .folder-img {
        width: 80px;
    }

    footer {
        background-color: #000000;
        width: 100vw;
        height: auto;
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h6 {

        font-size: 20px;
        margin: 15px auto 0;
    }

    #linkedin-img,
    #wpp-img {
        width: 50px;
    }

    #github-img {
        width: 52px;
    }

    .rede-social {
        padding: 25px;
    }
}